body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #698fe2;
  color: #ffffff;
  transition: all 0.3s ease;
}

a:hover {
  background-color: #a8a8a8;
}

ul {
  display: flex; 
  justify-content: center;
}

li + li {
  margin-left: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  margin-top: 20px;
}

.form label {
  display: block;
  margin-bottom: 5px;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button {
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 10px;
  background-color: #698fe2;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #a8a8a8;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}